/*
  AlphaText
  Stylesheet for popup.html
*/

body{
  overflow:hidden;
  margin:0 auto;
  padding:0px;
  background:white;
  text-align:center;
  font-family:"Roboto",Helvetica,Arial,sans-serif;
  font-size:100%;
  width:600px;
  height:200px;
}

/* Texts */
h1{
  font-size:120%;
  color:#AAAAAA;
  font-weight:normal;
}
#status{
  font-size:50%;
  color:#AA2222;
}

/* Buttons */
/* General styles */
#buttons{
  margin:0 auto;
  height:150px;
  width:500px;
  color:#FFFFFF;
  display:inline;
  overflow-y:auto;
}
#buttons td>div{
  display:flex;
  align-items:center;
  justify-content:center;
  float:left;
  border:white solid;
  border-width:1px 0px 1px 0px;
  width:100%;
}
table,tr{
  height:100%;
}
td{
  height:100%;
  width:25%;
  margin:0;
  padding:0;
  border:0px;
}
#buttons .big{
  height:100%;
}
#buttons .mid{
  height:50%;
}
#buttons .small{
  height:19.5%;
}
#buttons .smaller{
  height:26%;
}

/* Button contents */
#buttons img{
  width:80px;
  display:block;
}
#buttons .profim{
  width:50px;
}
#buttons p{
  display:block;
}
#profilecol img,#profilecol p{
  float:left;
}

/* Each button */
#onoff{
  background-color:#D5B47D;
}
#options{
  background-color:#999999;
}
#savepage{
  background-color:#F39372;
}
#unsavepage{
  background-color:#D37352;
}
#defaultprofile,#profile1,#profile2,#profile3{
  background-color:#F9CF1F;
}
.quickstyles{
  background-color:#FFCC00;
}

/* Button section heads */
#profhead{
  background-color:#D9AF0F;
}
#qshead{
  background-color:#DFAC00;
}
.sectionhead{
  height:22%;
  width:100%;
}
.sectionhead p{
  font-size:120%;
  font-weight:bold;
}