body.alphatextcustom{
	font-family:"Open Sans",Arial,Helvetica,sans-serif !important; 
	background-color:#FFFFFF !important;
	color:#161616 !important;
}
p.alphatextcustom{
	font-size:16px !important;
	line-height:120% !important;
}
h1.alphatextcustom,h2.alphatextcustom,h3.alphatextcustom,h4.alphatextcustom,h5.alphatextcustom,h6.alphatextcustom{
	font-family:Georgia,"Times News Roman",serif !important;
}
