body.alphatextcustom{
	font-family:'Times New Roman',serif !important; 
	background-color:#FFFFFF !important;
	color:#161616 !important;
}
.alphatextcustom p{
	font-size:16px !important;
	line-height:120% !important;
}
.alphatextcustom h1,.alphatextcustom h2,.alphatextcustom h3,.alphatextcustom h4,.alphatextcustom h5,.alphatextcustom h6{
	font-family:"Roboto",serif !important;
}
